@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.animate-float-3s {
  animation: float 3s infinite alternate ease-in-out;
}

.animate-float-2s {
  animation: float 2s infinite alternate ease-in-out;
}

.animate-float-4s {
  animation: float 4s infinite alternate ease-in-out;
}

.animate-float-5s {
  animation: float 5s infinite alternate ease-in-out;
}

.animate-slide {
  animation: slide 35s infinite linear;
}

.animate-slide-reverse {
  animation: slide 35s infinite reverse linear;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8%);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2.7);
  }
}

@keyframes scale-full {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(6);
  }
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
